{% extends 'admin.html' %}
{% block content %}
<div class="container">
    <table class="table table-striped bg-white">
        <tr>
            <th>Date</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Action</th>
        </tr>
        {% for item in res %}
        <tr>
            <td>{{item["date"]}}</td>
            <td>{{item["question"]}}</td>
            <td>{{item["answer"]}}</td>
            <form method="post">
                <td><button name ="submit" type="submit" value="{{item['id']}} " class="btn btn-danger">Delete</button></td>
            </form>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}